//all import
@import "./import";

@include html();
@include media();

.input-div {
  width: 100%;
  @include displayflex();

  nav {
    border-radius: 6px; 
    font-family: "Share Tech", sans-serif;
    width: 60%;
    height: auto;
    color: $text;
    .input-group {
      input {
  
        &:focus {
          width: 70%;
          border: 3px dotted $border;
          margin-right: 25px;
        }
      }
    }

    .submit-div {
      width: 100%;
      @include displayflex($a: left);
    
      .button-submit-div {
        padding-top: 10px;
        width: 50%;
        @include displayflex($a: left); 
        .input-button {@include input-button-groupe();}
        .modal {
          color: $text-background;
        }
      }
    }
    
  }
}


.submit {
  margin-left: 25px;
  margin-right: 25px;
}

