RewriteEngine On

RewriteCond %{REQUEST_URI} ^/(login|about)
RewriteRule ^(.*)$ /pages/$1 [R=301,L]

RewriteRule ^/pages/(.*)$ $1 [L]

ErrorDocument 404 https://error.personalitylib.com/404/
ErrorDocument 500 https://error.personalitylib.com/500/
ErrorDocument 401 https://error.personalitylib.com/401/
ErrorDocument 403 https://error.personalitylib.com/403/