//all import
@import "./import";

@include html(); 
@include media();

main {
    .wrapper {
        @include displayflex();
    }

    .card {
        width: 60%;

        img {
            padding: 20px;
        }
    }

    .preview {
        @include displayflex();
        padding-left: 10px;
    }
}