@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//colors
$main: black;
$outline: #9e363a;
$shadow: #091f36;
$details: #4f5f76;
$border: whitesmoke;
$text: white;
$background: whitesmoke;
$text-background: black;

//font sizes
$input: 30pt;
$normal: 13pt;

@mixin displayflex($a: center, $b: center) {
  display: flex;
  justify-content: $a;
  align-items: $b;
}

@mixin padding-both($a, $b) {
  padding-right: $a;
  padding-left: $b;
}


html {
  height: 99%;
}

body {
  @include displayflex();
  height: 100%;
  position: relative;
  background-color: $main;
  overflow: hidden;
}

main,
header,
footer {
  position: absolute;
}

main {
  align-items: center;
  width: 100%;
  background-color: $main;
}

header {
  @include displayflex($a: space-between);
  width: 100%;
  height: 10%;
  background-color: $main;
  top: 0;
}

footer {
  @include displayflex($a: space-between);
  width: 100%;
  height: 10%;
  background-color: $main;
  bottom: 0;

  span {
    @include padding-both(12, 12);
    font-family: "Share Tech", sans-serif;
    align-items: center;
    text-align: center;
  }

  span p {
    color: $text;
    margin: 0;
  }

  h1 {
    font-family: "Share Tech", sans-serif;
    color: $text;
  }

}

.input-div {
  width: 100%;
  @include displayflex();
}

.submit-div {
  width: 100%;
  @include displayflex();
}

.button-submit-div {
  width: 50%;
  @include displayflex($a: left);

  button {
    font-size: $normal;
    font-family: "Chakra Petch", sans-serif;
    width: 100px;
    height: 35px;
    background-color: $main;
    outline: 2px solid $border;
    color: $text;
    transition: width 0, 4s ease-in-out;

    &:hover {
      width: 120px;
      outline: 2px solid $outline;
      outline-style: dashed;
      color: $text-background;
      background-color: $background;
    }
  }
}

.titel {
  padding-left: 12px;
  color: $text;
  font-family: "Share Tech", sans-serif;
}

.input-titel {
  color: $text;
  height: 50px;
  font-size: $input;
  font-family: "Share Tech", sans-serif;
  padding-right: 20px;
}

.input {
  font-family: "Share Tech", sans-serif;
  border-radius: 6px;
  border: 3px solid $border;
  background-color: $main;
  width: 60%;
  height: 60px;
  transition: width 0.4s ease-in-out;
  color: $text;
  font-size: $input;

  &:focus {
    width: 70%;
    outline: 3px dotted $border;
    border: none;
    margin-right: 25px;
  }
}

.link-tree {
  font-family: "Chakra Petch", sans-serif;
  padding-right: 20px;
  @include displayflex($a: space-between);
  width: 15%;

  a {
    text-align: center;
    color: $text;
    @include padding-both(10, 10);
    text-decoration: none;
    font-size: $normal;
    width: 50px;
    transition: width 0.4s ease-in-out;

    &:hover {
      background-color: $background;
      color: $text-background;
      outline: 2px solid $outline;
      outline-style: dashed;
      width: 80px;
      cursor: pointer;
    }
  }
}

.submit {
  margin-left: 25px;
  margin-right: 25px;
}

@media screen and (max-width: 1200px) {
  footer {
    display: none;
  }

  .link-tree {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .titel-alt {
    display: none;
  }
}
